@font-face {
    font-family: "Oswald";
    src: url("css/fonts/oswald/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald-Light";
    src: url("css/fonts/oswald/Oswald-Light.ttf");
    font-weight: 900;
}

h1 {
    color: red;
    font-family: "Oswald"
}

p {
    color: grey;
    font-size: 24px;
    font-family: "oswald-Light";
}

img {
    width: 200px;
    margin: 20px;
}